{% extends 'templates/layouts/layout.njk' %}

{% block content %}
  <h2 class="text-xl">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non sapiente velit doloribus veniam illum doloremque sed, aliquid sequi, optio porro dolore officiis neque provident, illo voluptatibus error molestiae quas iusto.</h2>
{% endblock %}

{% block scriptExtends %}{% endblock %}