{% extends 'templates/layouts/layout.njk' %}

{% block content %}
  <div class="relative">
    <div class="aspect-ratio-4/3"></div>
    <h2 class="absolute w-full h-full top-0 left-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente ullam saepe ex at, temporibus quia natus dicta maiores! Vitae ut quae minus dolor. Dolor sit natus accusamus, fuga corrupti nisi.</h2>
  </div>
{% endblock %}

{% block scriptExtends %}{% endblock %}