{% extends 'templates/layouts/layout.njk' %}

{% block content %}
  <div class="relative">
   <div class="text-4xl">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem aliquam nobis molestiae, nemo totam quidem eveniet eum quis qui alias animi autem quisquam pariatur labore illo placeat ut possimus itaque!
   </div>
  </div>
{% endblock %}

{% block scriptExtends %}{% endblock %}